body {
background-color: rgb(184, 181, 181);
box-sizing: border-box;
display: flex;
height: auto;
width: 98vw;
justify-content: center;
align-items: center;
}
button{
  width: 100px;
}
h1{
  text-align: center;
}

form{
  align-items: center;
  display: flex;
  flex-direction: column;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
